<br>
<br>
<br>
<br>
<p id="index-text"><strong>Contacts</strong> advanced app for Your Personal Contacts with Secure Storage
a cutting-edge app designed to simplify your life by keeping your personal contacts organized and accessible at all times. </p>
 <br>
<div class="field form-group">
    <%= link_to "Log in", new_user_session_path, class: 'btn btn-outline-success' %>
    <%= link_to "Register", new_user_registration_path, class: 'btn btn-outline-info' %>
</div>