<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
     <h2 id="about">About us</h2>
    </div>
    <div class="col-sm">
    <p id="about-text">Simplify and organize your connections effectively. With our contacts application, you can manage and store your contacts easily and conveniently, without complications or data loss. <p>
    </div>